.login-container {
    background-color: var(--bs-body-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-card {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-color: var(--bs-primary);
}

.login-title {
    text-align: center;
    color: var(--bs-primary);
}

.login-label {
    color: var(--bs-dark);
}

.login-button-container {
    text-align: center;
    margin-top: 30px;
}

.login-button {
    width: 100%;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.login-button:hover {
    background-color: #c2185b;
    border-color: #c2185b;
}

.login-link {
    color: var(--bs-dark);
    text-decoration: none;
}

.login-link:hover {
    color: var(--bs-primary);
    text-decoration: underline;
}


.modal-body {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 400px;
    max-width: 90%;
    padding: 32px;

    background-color: white;
    border: 2px solid #f44336;
    border-radius: 8px;

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 1300;
}


.modal-title {
    font-weight: bold;
    color: white !important;
}

.modal-footer {
    justify-content: center;
}