.pesquisarMusica,
.sairHome,
.btn-historico {

    border-radius: 30px;
    background-color: #E2725B;
    border: none;
    padding: 10px;
    color: #F5F5DC;
    font-size: 20px;
    width: 10rem;
    margin: auto;
    height: 4rem;
}

.pesquisarMusica:hover,
.sairHome:hover,
.btn-historico:hover {

    background-color: #F5F5DC;
    color: #E2725B;
}


.historico-container {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #f5f5dc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.historico-container h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #333;
    font-family: Verdana, Geneva, sans-serif;
}

.historico-container ul {
    list-style: none;
    padding: 0;
}

.historico-container li {
    padding: 10px 15px;
    margin-bottom: 8px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.historico-container li:hover {
    background-color: #e2725b;
    color: white;
}